@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-1: 0 100% 63%;
  --color-2: 270 100% 63%;
  --color-3: 210 100% 63%;
  --color-4: 195 100% 63%;
  --color-5: 90 100% 63%;
}

body {
  scroll-behavior: smooth;
  max-width: 2100px;
  width: 100%;
  margin-inline: auto;
}
@layer utilities {
  .subtle-text {
    @apply mt-2 text-lg/normal font-medium sm:text-xl;
  }
  .container {
    @apply max-w-4xl mx-auto;
  }

  .sections {
    @apply sm:py-32 py-16 px-5 bg-white font-poppins dark:bg-darkMode text-black dark:text-white;
  }
  .section-heading {
    @apply font-semibold text-xl sm:text-3xl mt-4 mb-4;
  }
  .custom-card {
    @apply rounded-xl space-y-4 py-5 px-6 flex flex-col items-start dark:ring-1 dark:ring-white shadow-lg;
  }
}

@layer base {
}

@layer base {
  /* * {
    @apply border-border;
  } */
  /* body {
    @apply bg-background text-foreground;
  } */
}
